---
import HamburgerButton from "./HamburgerButton.astro";
import HeaderActions from "./HeaderActions.astro";
---

<header class="site-header">
  <div class="site-header__inner">
    <HamburgerButton />
    <HeaderActions />
  </div>
</header>
