---
import HamburgerButton from "./HamburgerButton.astro";
import Navigation from "./Navigation.astro";
import HeaderActions from "./HeaderActions.astro";
---

<header class="site-header">
  <div class="site-header__inner">

    <HamburgerButton />

    <a href="/" class="site-header__brand">
      The Bishlingtons
    </a>

    <Navigation />

    <HeaderActions />

  </div>
</header>