---
import Layout from "../layouts/Layout.astro";
import AppShell from "../components/layout/AppShell.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import { wedding } from "../data/wedding";
---

<Layout title={wedding.websiteName}>
  <AppShell>
    <main class="home-page">
      <HeroSection />
    </main>
  </AppShell>
</Layout>
