---
type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<article class="card">
  {title && <h2 class="card__title">{title}</h2>}

  <div class="card__content">
    <slot />
  </div>
</article>